body {
    background-color: lightblue;
    margin: 0;
    font-family: sans-serif;
  }

  .container{
      position: relative;
      width: 1200px;
      height: 300px;
      margin: 50px auto;
  }

  .container .box{
      position: relative;
      width: calc(400px - 30px);
      height: calc(300px - 30px);
      background: gray;
      float: left;
      margin: 15px;
      box-sizing: border-box;
      overflow: hidden;
      border-radius: 10px;
  }

  .container .big_box{
    position: relative;
    display: flex;
    width: 1170px;
    height: calc(300px - 30px);
    background: gray;
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
  }

  .small_container{
    width: 340px;
    height: 40px;
    margin-left: 30px;

  }
  .small_button{
      width: calc(160px - 10px);
      height: 40px;
      position: relative;
      margin-right: 10px;
      box-sizing: border-box;
      overflow: hidden;
      border-radius: 10px;
  }

  .button{
    margin-top: 220px;
    margin-left: 35px;
    width: 300px;
    height: 40px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
  }

  .banner {
    background-color: black;
    height: 60px;
  }
  .banner__content{
    color:white ;
    text-align: left;
    padding-left: 80px;
    padding-top: 20px;
    font-size: x-large;
    font-family: sans-serif;
  }

  .box .selectComputers{
    box-sizing: border-box;
    overflow: hidden;
    margin-left: 20px;
    border-radius: 10px;
  }